{% extends 'layout.html' %}

{% block body %}
<h2>Devices Index</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>device_name</th>
                <th>device_latitude</th>
                <th>device_longitude</th>
                <th>esp_id</th>
                <th>target_id</th>
                <th>created_at</th>
                <th>updated_at</th>
            </tr>
        </thead>
        <tbody>
            {% for device in param_devices_list %}
            <tr>
                <td>{{device.id}}</td>
                <td>{{device.device_name}}</td>
                <td>{{device.device_latitude}}</td>
                <td>{{device.device_longitude}}</td>
                <td>{{device.esp_id}}</td>
                <td>{{device.target_id}}</td>
                <td>{{device.created_at}}</td>
                <td>{{device.updated_at}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}