{% extends 'layout.html' %}

{% block body %}
<h2>Errors Index</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Message</th>
                <th>created_at</th>
                <th>updated_at</th>
            </tr>
        </thead>
        <tbody>
            {% for error in param_errors_list %}
            <tr>
                <td>{{error.id}}</td>
                <td>{{error.message}}</td>
                <td>{{error.created_at}}</td>
                <td>{{error.updated_at}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}